body {
  background-color: #4286f4;
    background-repeat: no-repeat;
    background-size:1650px 1175px;

 }

 h1{
   /*color: blue;*/
   text-align: center;
 }

h2{
  color:
}

.Larry {
  color:red;
}
